* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sect {
}
.hed {
  width: 100%;
  display: inline-block;
  /* justify-content: center; */
}
.c {
  margin: 0px;
  margin-top: 7px;
  width: 30%;
  float: left;
}
.c img {
  width: 200px;
  margin: 0px 0px 0px 55px;
}
.b {
  width: 70%;
  display: inline-block;
}

.hed h1 {
  float: right;
}
.hed li {
  list-style: none;
  margin-left: 50px;
}
.hed a {
  text-decoration: none;
  color: rgb(114, 105, 105);
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  float: left;
  text-align: center;
}
.imp {
  color: black;
}
.bad1 {
  width: 100%;
  text-align: center;
  float: left;
}
.bad1 img {
  width: 50%;
  margin: 0px;
  position: initial;
  float: left;
}
.bad1 h1 {
  margin-top: 86px;
  font-size: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.bad1 p {
  font-size: 38px;
  margin: 20px;
  padding: 10px;
  color: gray;
}
.b1 {
  cursor: pointer;
  width: 350px;
  height: 64px;
  padding: 0px 0px 4px 0px;
  margin: 10px 40px 10px 10px;
  border-radius: 30px;
  font-size: 30px;
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
}
.b2 {
  cursor: pointer;
  width: 180px;
  height: 71px;
  border-radius: 30px;
  font-size: 26px;
  padding-bottom: 4px;
  background-color: #a095c9;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid white;
}
.bad2 {
  display: inline-block;
  width: 100%;
  margin-top: 100px;
}
.pp1 {
  width: 33.35%;
  display: inline-block;
}
.pp1 img {
  float: left;
  width: 150px;
  margin-left: 40px;
}
.pp2 {
  width: 33.33%;
  display: inline-block;
  margin-top: 50px;
}
.pp2 img {
  float: left;
  width: 150px;
}
.pp3 {
  width: 33%;
  float: right;
}
.pp3 img {
  float: left;
  width: 150px;
}
